*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
body{
    background: linear-gradient(to right, #3C839D, #3FABDD, #ADDEF4,#dbcda8,#dbbf73, #CD7A57);
}
	  
/* MENU */
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-around;
	transition: 0.7s;
	padding: 40px 20px;
	z-index: 10; 
    background: linear-gradient(to right, #3C839D, #41AADD); }
	  

header.abajo{
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.6222864145658263) 69%);
	padding: 20px 30px;   /* MENU abajo */

}

header .logo{
	position: relative;
	color: #ffffff;
	font-weight: bold;
	font-size: 2em;
	letter-spacing: 2px;
	transition: 1.5s;
	text-decoration: none;

}
.sirim{
	animation: none;
}
nav{
	display: flex;
	justify-content: center;
	align-items: center;
}

header ul{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

header ul li{
	list-style: none;
	background:radial-gradient(200px top, ellipse, white, #1162ac, black);

}

header ul li a{
	position: relative;
	font-family: helvetica;
	margin: 0 15px;            /* BOTONCITOS MENU  */
	text-decoration: none;
	color: rgb(14, 14, 14);
	letter-spacing: 2px;
	font-weight: 600;
	transition: 0.7s;

}
.zona1{
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center center

}

header.abajo .logo,
header.abajo ul li a{
	color: #0a0909;
}	
	/* finMENU */


/* CARRUSEL */
.slider{
	position: relative;
	
	height: 50%;
	background: #2c3e50; 
}
.myslide{
	height: 480px; /* largo */
	display: none;
	overflow: hidden;
}

.prev, .next{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 50px;
	padding: 150px;
	cursor: pointer;
	color: #fff;
	transition: 0.1s;
	user-select: none;
}
/* flecha */
.prev:hover, .next:hover{
	color: #00a7ff; 
}
.next{
	right: 0;
}
.dotsbox{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 20px;
	cursor: pointer;
}
.dot{
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	border-radius: 50%;
	margin: 0 10px;
	cursor: pointer;
}


/* javascript */
.active, .dot:hover{
	border-color: #00a7ff; 
}
/* /javascript */

/* fade */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}
/* tex */
.txt{
	position: absolute;
	color: #fff;
	line-height: 35px;
	top: 40%;
	left: 15%;
	-webkit-animation-name: posi;
  	-webkit-animation-duration: 2s;
  	animation-name: posi;
  	animation-duration: 2s;
	z-index: 1;
}

@-webkit-keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}


@keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}

.txt h1{
	color: #00a7ff; 
	font-size: 50px;
	margin-bottom: 20px;
}
.txt p{
	font-weight: bold;
	font-size: 35px;
	margin-left: 5%;
	margin-right: 20%;
}
/*imags*/
img{
	transform: scale(1.5, 1.5);
	-webkit-animation-name: zoomin;
  	-webkit-animation-duration: 40s;
  	animation-name: zoomin;
  	animation-duration: 30s;
}
/*movi img*/
@-webkit-keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}


@keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}

@media screen and (max-width: 800px){
	.myslide{
		height: 500px;
	}
	.txt{
		letter-spacing: 2px;
		line-height: 25px
		
	}

	@-webkit-keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	}


	@keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	}

	.txt h1{
		font-size: 40px;
	}
	.txt p{
		font-size: 13px;
	}
}
@media screen and (max-width: 520px){
	.txt h1{
		font-size: 30px;
		margin-bottom: 20px;
	}
	.sign{
		margin-right: 20px;
	}
	.sign a{
		font-size: 12px;
	}
}
/*Fin carrusel*/


   /* MAPA */
h6{color: #000000; 
	font-size: 40px;   
	margin-bottom: 20px;
}   /* MAPA */

/*tarjetas o cards*/
.container-card{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #7a7a7a;
}
.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	display:block;
	margin-left: auto;
	margin-right: auto;
	height: 210px;
	transform: scale(1.5, 1.5);
	-webkit-animation-name: none;
  	-webkit-animation-duration: 0s;
  	animation-name: none;
  	animation-duration: 0s;
}


.card .contenido-card{
	padding: 15px;
	text-align: center;
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: #7a7a7a;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	margin-bottom: 5px;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #2fb4cc;
	border: 1px solid #2fb4cc;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
	background: #2fb4cc;
	color: #fff;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
}/*Fin-tarjetas*/

/*botones redes*/
.buttons {
	min-width: 200px;
	display: flex;
	justify-content: space-around;
  }
  
  .buttons a {
	text-decoration: none;
	font-size: 28px;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	background: #314652;
	color: #f1f1f1;
	border-radius: 50%;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
	transition: all .4s ease-in-out;
}
  .buttons a:hover {
	transform: scale(1.2);
  }/*fin redes*/

  /* fomularios  */
  form{
    position: absolute;
    min-width: 280px;
    max-width: 25%;
    width: 25%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 15px;
    box-shadow: 0 1rem 1rem  rgba(0, 0, 0, 0.3);
    background-color: rgba(228, 26, 26, 0.1);
    backdrop-filter: blur(1rem);
    border-radius: 5px;
    color: #000000;
}
h1{
    position: relative;
    font-size: 18px;
    margin-bottom: 15px;
    padding-bottom: 7px;
}
h1::after{
    content: "";
    position: absolute;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    width: 120px;
    left: 0;
    bottom: 0;    
}
input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 5px 6px;
    margin-bottom: 15px;
    border: none;
    outline: none;
    border-radius: 1px;
}

.Tipodocumento{
	display: block;
    width: 100%;
    height: 40px;
    padding: 5px 6px;
    margin-bottom: 15px;
    border: none;
    outline: none;
    border-radius: 1px;
}

button{
    display: block;
    margin: auto;
    width: 100%;
    height:40px ;
    background-color: #a3989896;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    color: #030303;
}
.link{
    text-align: center;
    margin-top: 15px;
    font-weight: bolder;
}
textarea{
    width: 100%;
    padding: 60px 40px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}

/* Fin  fomularios  */

/* Boton que sube aparece  */
.btn-scrolltop {
	width: 60px;
	height: 60px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	padding: 0 20px;
	background: rgb(167, 158, 158);
	color: white;
	border: 1px solid white;
	border-radius: 100%;
	cursor: pointer;
	transform: translateY(100px);
	transition: 0.9s;
  }
  
  .btn-scrolltop-on {
	transform: translateY(0);
  }
  /* Fin Boton subir que aparece  */

  /* Estilo para la página de quienes somos */

  img.img_tabla{
	animation: none;
	transform: none;
	max-width: 100%;
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0.8rem;
  }
  .zona2{
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	background-size: cover;
	background-position: center center

}

main.quienes-somos-main{
	margin: 3.5% 10%;
}

td.q-s-columna {
	width: 50%;
	padding: 10px;
}

.texto-celdas{
	background-color: rgba(255,255,255,0.8);
	padding:10px;
	border-radius: 0.8rem;
}

.texto-celdas p{
	color:#2c3e50;
	font-weight: bold;
	font-size: 0.8rem;
}


 


	