*{
	box-sizing: border-box;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

body{
	height: 100%;
    background: linear-gradient(to bottom, #3C839D, #3FABDD,#68b9df, #ADDEF4,#dbbf73, #CD7A57);
}

main {
	height: 100%;
	margin-top: 170px;
	margin-bottom: 10%;
}

/* MENU */
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-around;
	transition: 0.7s;
	padding: 40px 20px;
	z-index: 10; 
    background-color: #5f4e4e3f; }
	  

header.abajo{
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.6222864145658263) 69%);
	padding: 20px 30px;   /* MENU abajo */

}

header .logo{
	position: relative;
	color: #000000;
	font-weight: bold;
	font-size: 2em;
	letter-spacing: 2px;
	transition: 1.5s;
	text-decoration: none;

}
.sirim{
	animation: none;
}
nav{
	display: flex;
	justify-content: center;
	align-items: center;
}

.fixed-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #3C839D;
	z-index: 9999;
}



header ul{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

header ul li{
	list-style: none;
	background:radial-gradient(200px top, ellipse, white, #1162ac, black);

}

header ul li a{
	position: relative;
	font-family: helvetica;
	margin: 0 15px;            /* BOTONCITOS MENU  */
	text-decoration: none;
	color: rgb(14, 14, 14);
	letter-spacing: 2px;
	font-weight: 600;
	transition: 0.7s;

}
.zona1{
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center center

}

header.abajo .logo,
header.abajo ul li a{
	color: #0a0909;
}		
	/* finMENU */

     /*  convocatorias  */
	
	 .tabla_1columna{
		margin: 5% 20%;
	 }

	.texto-celdas{
		background-color: rgba(255,255,255,0.8);
		padding:10px;
		border-radius: 0.8rem;
	}

	.texto-celdas2{
		background-color: rgba(255,255,255,0.8);
		padding:10px;
		border-radius: 0.8rem;
		text-align: justify;
	}
	
	.texto-celdas p{
		color:#2c3e50;
		font-weight: bold;
		font-size: 0.8rem;
	}
	input.fechas-convocatoria{
		background:none;
		font-size: 20px;
		font-weight: bold;
		text-align: center;
	}


	 /*  convocatorias  */

     /* fomularios  */
  form{
    min-width: 280px;
    padding: 15px;
    box-shadow: 0 1rem 1rem  rgba(0, 0, 0, 0.3);
    background-color:#cececeab;
    backdrop-filter: blur(1rem);
    border-radius: 5px;
    color: #000000;
	z-index: -1;
	margin: auto 25%;
}
h1{
    position: relative;
    font-size: 18px;
    margin-bottom: 15px;
    padding-bottom: 7px;
}
h1::after{
    content: "";
    position: absolute;
    height: 2px;
    border-radius: 3px;
    background-color: #fff;
    width: 100%;
    left: 0;
    bottom: 0;    
}
input {
    width: 100%;
    height: 40px;
    padding: 5px 6px;
    margin-bottom: 15px;
    border: none;
    outline: none;
    border-radius: 1px;
}

.Tipodocumento{
	display: block;
    width: 100%;
    height: 40px;
    padding: 5px 6px;
	margin-bottom: 15px;
    border: none;
    outline: none;
    border-radius: 1px;
}



button{
    display: block;
    margin: auto;
    width: 100%;
    height:40px ;
    background-color: #a8343496;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    color: #030303;
}
.link{
    text-align: center;
    margin-top: 15px;
    font-weight: bolder;
}
textarea{
    width: 100%;
    padding: 60px 40px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}

input.btn{
    display: block;
    margin: auto;
    width: 100%;
    height:40px ;
    background-color: #67202096;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    color: #030303;
}

/* Estilo para el cambio de formulario en registro */

.input-box input{
	margin-top: 10px;
}

.select-box{
	margin-top: 10px;
}

form h1 {
	text-align: center;
	color: #333;
}

form h1::after{
	text-align: center;
}

.input-box label {
	color: #333;
	font-weight: bold;
  }

  .form :where(.input-box input, .select-box) {
	position: relative;
	height: 5rem;
	width: 100%;
	outline: none;
	color: #707070;
	margin-top: 0.8rem;
	border: 0.1rem solid #ddd;
	border-radius: 0.6rem;
	padding: 0 1.5rem;
	box-sizing: border-box;
  }
  .input-box input:focus {
	box-shadow: 0 0.1rem 0 rgba(0, 0, 0, 0.1);
  }
  .column {
	display: flex;
	column-gap: 1.5rem;
  }

  .select-box select {
	width: 100%;
	min-width: fit-content;
	outline: none;
	border: none;
	color: #707070;
	background-color: white;
  }

  #fechaNacimiento{
	color: #707070;
  }

  .adaptar{
	width: 50%;
  }

  /* Estilo para el ancho del formulario de inicio de sesión */

  form.inicio-form{
	width: 30%;
	margin-left: auto;
	margin-right: auto;
  }

/* Fin  fomularios  */


 /* quienes somoss  */

 .numero1 {
	animation: none; 
	position: absolute; 	
	width: 22%;
	top: 250px;
	height: 50%;
	right: 300px;  
}

 .tab { position: absolute;
	top: 300px;
	right: 980px;
}
.linea { position: absolute;
	top: 900px;
	right: 400px;
}
.tab2 { position: absolute;
	top: 1200px;
	right: 980px;
}

.numero2 {
	animation: none; 
	position: absolute;
    width: 22%;
	top: 1100px;
	height: 50%;
	right: 300px;
    
}

  /*  fin quienes somoss  */
  /* Boton que sube aparece  */
.btn-scrolltop {
	width: 80px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	padding: 15px 20px;
	background: rgb(167, 158, 158);
	color: white;
	border: 1px solid white;
	border-radius: 100%;
	cursor: pointer;
	transform: translateY(100px);
	transition: 0.9s;
  }
  
  .btn-scrolltop-on {
	transform: translateY(0);
  }
  /* Fin Boton subir que aparece  */



/* Span de error en los campos del formulario */

span#password_error{ /* span de que las contraseñas no coinciden*/
	color: #c35628; 
	display: none; 
	font-weight:bold;
}

span#fecha_error{ /*span de que las edades no están en el rango*/
	color: #c35628; 
	display: none; 
	font-weight:bold;
}

span.error-message{ /*span de que las edades no están en el rango*/
	color: #c35628; 
	display: none; 
	font-weight:bold;
}

