.insc-header{
    margin-top: 2%;
    margin-bottom: 5%;
}
    .opcion button{
        padding: 3rem;
        font-size: 1rem;
    }
    .inscribir-conv label{
        margin:0;    
    }
    .inscribir-conv label span{
        font-size: 2rem;
        font-weight: bold;
        margin-top: 1rem;
        margin-bottom: 1rem;    
    }

    .inscribir-conv label input{
        border-radius: 0.5rem;
        padding: 0.8rem 0;
        font-size: 2rem;
    }

    #insc-usuario button.inscribirse-btn{
        font-size: 2.2rem;
        margin-top: 2rem;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 2rem;
    }

    table{
        font-size: 1.4rem;
        table-layout:auto;
        width: auto;
    }

    th{
        padding: 0.8rem 0.3rem;
        font-weight: bold;
        
    }
    td{
        padding: 0.8rem 0;
        
      }
    .inscribir-conv table{
        margin: 0;   
    }

    tbody tr:hover{
        background-color: #ADDEF4;
      }