body{
    margin: 0;
}

header h1 {
    text-align: center;
    margin-left: 2.5rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.opt-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 8%;
    margin-right: auto;

}

.opcion button{
    padding: 4rem;
    background: linear-gradient(
        90deg,
        #ddbc60 25%,
        #CD7A57 100%);
        color:#555357;
    font-size: 1.3rem;
    cursor: pointer;
    font-weight: bold;
    border-radius: 1rem;
    border-top: none;
    border-left: none;
    margin: 1rem;
}

.opcion button:hover{
    background: #b4994e;
}

.opt-container{
    display: none;
}

.lista-productos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 8%;
    margin-right: 2%;
}

table{
    border: 0.1rem solid #707070;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 1rem;
    overflow: hidden;
    border-bottom: none;
    color: #2f2e30;
    font-size: 1.4rem;
    table-layout: auto;
    width: auto;
    text-align: center;

}

thead{
    background-color: #3FABDD;
}

th{
    padding:1.6rem 0.5rem ;
    font-weight: 700;
    border-bottom: solid 0.1rem  #707070;
}
  
td{
    padding: 1.5rem;
    border-bottom: solid 0.1rem  #707070;
}
  
tbody tr{
    background-color: white;
}

tbody tr:hover{
    background-color: #ADDEF4;
}

.revision{
    padding: 1rem 5rem;
    background: linear-gradient(
        90deg,
        #3FABDD 25%,
        #3C839D 100%);
        color:white;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: bold;
    border-radius: 2.5rem;
    border-top: none;
    border-left: none;
    margin-top: 2%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 2%;
}

.revision:hover{
    background: #579eb8;
    
}