header.tarj-header{
    font-size: 3.5rem;
    text-align: center;
    margin:3rem;
}

.container{
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    width: 100%;
    max-width: 800px;
    min-width: 320px; /* sacado de mydevice.io*/
    height: 100%;
    margin: auto;
    justify-content: space-evenly;
}

.section-container{
    width: 45%;
    height: 300px;
    margin: 1rem;
}

.card{
    width: 100%;
    height: 100%;
    margin:auto;
    text-align: center;
    border-radius: 6px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
    display: flex;
    flex-direction: column;
    justify-content:end;
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}


.card img{
    width: 35%;
    margin-top: 2rem;
}

#img3{
    width: 45%;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.card .card-content{
    padding: 1rem;
    text-align:center;
}

.card .card-content p{
    line-height: 1.2em;
    color: #6a6a6a;
    font-size: 1.5rem;
}

.card .card-content h3{
    font-weight:bold;
    margin-bottom: 1.2rem;
    font-size: 1.8rem;
}

.card .card-content a{
    text-decoration: none;
    display: inline-block;
    padding: 0.9rem;
    margin-bottom: 0.8rem;
    margin-top: 1rem;
    color: #2fb4cc;
    border: 0.1rem solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
    font-size: 1.5rem;
}

.card .card-content a:hover{
    background: #2fb4cc;
    color: white;
}

/* @media (max-width:399px){
    .section-container{
        width:80%;
        height:100%
    }
}

@media (min-width:400px){  

    .section-container{
        width:45%;
    }
    .card-container1{
        order: 1px;
    }
    .card-container2{
        order: 1px;
    }
    .card-container3{
        order: 1px;
    }
    .card-container4{
        order: 1px;
    }
}

@media (min-width:600px){
       
    .section-container{
        width:40%;
        height: 320px;
    }

@media (min-width:800px){
       
    .section-container{
        width:20%;
        height: 320px;
    }

}
} */












