body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  .container {
    position: static;
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 2.5rem;
    border-radius: 0.8rem;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
  }
  .container header {
    font-size: 3rem;
    color: #333;
    font-weight: 500;
    text-align: center;
  }
  .container .form {
    margin-top: 3rem;
  }
  .form .input-box {
    width: 100%;
    margin-top: 2rem;
    font-size: 1.5rem;
  }
  .input-box label {
    color: #333;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  input::placeholder {
    color: #333;
    font-size: 1.5rem;
    opacity: 0.7; 
  }
  
  .form :where(.input-box input, .select-box) {
    position: relative;
    height: 5rem;
    width: 100%;
    outline: none;
    font-size: 1.5rem;
    color: #707070;
    margin-top: 0.8rem;
    border: 0.1rem solid #ddd;
    border-radius: 0.6rem;
    padding: 0 1.5rem;
    box-sizing: border-box;
  }
  .input-box input:focus {
    box-shadow: 0 0.1rem 0 rgba(0, 0, 0, 0.1);
  }
  .form .column {
    display: flex;
    column-gap: 1.5rem;
  }
  
  .select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #707070;
    font-size: 1.5rem;
    background-color: white;
  }
  .form .btn {
    height: 5.5rem;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 3rem;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;  
    background: linear-gradient(
        90deg,
        #ddbc60 25%,
        #CD7A57 100%);
    
    color:#2f2e30;
    border-radius: 2.5rem;
    border-top: none;
    border-left: none;
  }
  .form .btn:hover {
    background: #b4994e;
  }
  /*Responsive*/
  @media screen and (max-width: 500px) {
    .form .column {
      flex-wrap: wrap;
  }
  }

#fechaError{
    color: red; 
    margin-top: 5px;
}