body{
    margin: 0;
}

header h1 {
    text-align: center;
    margin-left: 2.5rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.entrega-user{
    display: flex;
    justify-content: center;
}


.contamy-5>.row{
    margin:0 5%;
}
